<!DOCTYPE html>
<html>
<head>
  <title>YanqingProject | <%=yield(:title)%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
 <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div id="header-inner">
		<%=render 'layouts/header'%>
  </div>
</div>
<div id="content-wrapper">
<%= yield %>
<div id="footer">
<%=render 'layouts/footer'%>
</div>
</div>
</body>
</html>
